/* Links */
a:link {
  color: #1a2238;
  text-decoration: none;
}
a:visited {
  color: #1a2238;
}
a:hover {
  color: #1a2238;
}
a:active {
  color: #1a2238;
}

body {
  background-color: #1a2238;
  color: #1a2238;
}

.card {
  background-color: white;
  color: #1a2238;
}

#main1 {
  margin-bottom: 20px;
}

.badge_news {
  background-color: #1a2238;
  color: white;
  margin: 5px 5px 0px 5px;
}

.carousel {
  margin: 5px 0px 5px 5px;
}

h1,
h1 > p {
  padding: 5px 0px;
  width: 100%;
  text-align: center;
  color: #1a2238;
}

.carousel-item > a > div > img {
  margin-top: 5px;
  width: 100px;
  height: 100px;
}

#news_title {
  font-size: x-large;
  margin: 5px;
  vertical-align: bottom;
}

#news_description {
  margin: 5px;
  font-size: medium;
}

#news_details {
  font-size: small;
}

th,
td {
  margin-right: 2px;
}
